@import "./var.less";

html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  font-size: 14px;
  color: #333 !important;
}

a {
  // text-decoration: underline;
  cursor: pointer;
}

.ant-pro-global-header-layout-mix {
  background-color: #fff;
  .ant-pro-global-header-logo h1 {
    color: #333;
  }
  .anticon {
    color: #333;
  }
}

.yx-app-loading {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-list-search {
  display: flex;
  padding-left: 30px;
  margin-top: 30px;
}

.storeDrawer {
  .descriptGroup {
    border: 1px solid #dddddd;
  }
}