@import "./var.less";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  font-size: 14px;
  color: #333 !important;
}

a {
  // text-decoration: underline;
  cursor: pointer;
}

// 整体滚动条样式
div::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  background: hsla(0, 0%, 100%, 0.6);
}
div::-webkit-scrollbar-thumb {
  background-color: rgba(95,95,95,.4);
}
div::-webkit-scrollbar-track {
  display: none;
}
ul::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
ul::-webkit-scrollbar-thumb {
  background-color: rgba(95,95,95,.4);
}
ul::-webkit-scrollbar-track {
  display: none;
}
.ant-descriptions-item-container {
  align-items: center;
}
.ant-page-header-heading {
  display: none !important;
}
.ant-pro-global-header {
  .ant-pro-global-header-logo {
    .layout-page-logo {
      height: 40px;
    }
    h1 {
      font-size: 24px;
    }
  }
}
.ant-page-header.has-breadcrumb {
  box-shadow: 0 1px 4px #00152914;
}
.ant-pro-basicLayout-content {
  margin: 0;
  min-width: 900px;
  height: calc(100% - 80px);
  background-color: #f0f2f5;
  .ant-pro-page-container {
    margin: 0;
  }
}
.ant-pro-global-footer {
  margin: 0;
  padding: 24px 16px;
}

.ant-pro-page-container {
  height: 100%;
}
.ant-pro-grid-content {
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: auto;
  padding: 24px;
}
.ant-layout .ant-pro-page-container-children-content {
  margin: 0 !important;
  padding: 0 !important;
}
.ant-layout-footer {
  display: none;
  background-color: #fff;
}
.layout-page {
  &-header {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.yx-app-loading {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-item {
  display: flex;
  align-items: center;
  // margin-right: 10px;
  margin-bottom: 10px;
  &__label {
    flex: none;
    width: 50px;
    text-align: right;
    // margin-right: 5px;
  }
}

.store-list-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-top: 30px;
}

.storeDrawer {
  .descriptGroup {
    border: 1px solid #dddddd;
  }
}
.rank-list-page {
  // .ant-pro-grid-content-children,
  // .ant-pro-layout-watermark-wrapper,
  // .ant-pro-page-container-children-content {
  //   height: 100%;
  // }
  .ant-card-body {
    // height: calc(100%-48px);
    padding: 0;
  }
}
.rank-list {
  // height: calc(100%-165px);
  // height: 100%;
  height: 700px;
  overflow: auto;
  padding: 0;
  // border: 1px solid rgba(140, 140, 140, 0.35);
  &-card {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    // border: 1px solid #f0f0f0;
  }
  .rank-item-title {
    max-width: 600px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // .store {
    //   margin-right: 12px;
    // }
  }
  .rank-item-desp {
    max-width: 600px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // .city {
    //   margin-right: 12px;
    // }
  }
  .ant-list-item {
    padding: 12px 16px;
  }
  .ant-ribbon.ant-ribbon-placement-start {
    left: -4px;
    top: 0;
  }
  .ant-pro-grid-content-children {
    height: 100%;
  }
}

.home {
  height: 100%;
  width: 100%;
  .ant-image {
    width: 100%;
    height: 100%;
    .ant-image-img {
      max-width: 100%;
      height: 100%;
      // height: auto;
      object-fit: scale-down;
    }
  }
  .home-img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
  }
}
.notice-mng {
  .notice-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .notice-col-author {
    margin-right: 8px;
  }

  .ant-list-item {
    // display: flex;
    border: 1px solid #ddd;
    .ant-list-item-meta {
      margin-bottom: 0;
    }
    .ant-list-item-meta-title {
      margin-bottom: 0;
    }
    .ant-list-item-action {
      margin-top: 10px;
    }
  }
}
.report-list {
  .ant-pro-card {
    margin-bottom: 10px;
  }
  .ant-pro-card-body {
    flex-wrap: wrap;
    .ant-pro-card-col {
      flex: 0 25%;
    }
  }
  .ant-form-item {
    margin-bottom: 0;
  }
}
.shop-detail {
  .ant-form-item {
    margin-bottom: 0;
  }
}
.shop-list-search {
  position: relative;
  .ant-space {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.auto-upload-box {
  display: flex;
}
.notification {
  cursor: pointer;
}
.pcdLabel {
  margin-right: 5px;
}
.ant-form .pro-field,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-affix-wrapper {
  border-radius: 4px;
}

.user-form__apps {
  display: none;
}

